{{ 'custom-style.css' | asset_url | stylesheet_tag }}
{{ 'custom-app.js' | asset_url | script_tag }}
{%- assign collection = collections[section.settings.collection] -%}
<h1 class='title'>GradiStore</h1>

<div class="main-container">
  {% for product in collection.products %}
  <div class='card'>
    <div>
      <img class="img" src="{{ product.variants[forloop.index0].image.src | img_url: 'master' }}" />
      <div class="variant-container">
        {% for variant in product.variants %}
        <span id="{{variant.id}}" class='variant-preview'>{{variant.title}}</span>
        {% endfor %}
      </div>
    </div>
    <h5 class='card-title'>{{product.title}}</h5>
    <h6 class="card-description">{{product.description}}</h6>
    <h6 class="card-description">{{product.price}}</h6>
  </div>
  {% endfor %}
</div>

{% schema %}
{
"name": "ProductsGrid",
"class": "spaced-section",
"settings": [
{
"id": "collection",
"type": "collection",
"label": "Chose a collection"
}
]
}
{% endschema %}